In [1]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
#Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized

In [4]:
#Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:

1. **Python**
   

2. **R**
   

3. **SQL**

In [5]:
#Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
1. **Pandas**

2. **Numpy**

3. **Matplotlib**

In [6]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

# Data Science Tools

| **Data Science Tools**      |
|-----------------------------|
| Jupyter Notebooks           |
| RStudio                     |
| Apache Zeppelin             |

In [9]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
 #Exercise 8 - Create a code cell to multiply and add numbers

In [11]:
(3*4)+5

17

In [12]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [13]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [14]:
 #Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science.
- Some of the commonly used libraries used by Data Scientists include
- Understand how to evaluate arithmetic expressions in Python.
- Recognize open-source development environment tools for Data Science.

In [15]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author

Lakshmi Holla

Niveditha Pandith

Ambali Ajarah Omowumi